.dashboard {
    display: flex;
    flex-direction: row;
    height: 100vh
}

.dashboard__sidebar {
    background-color: #222;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    flex-shrink: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0
}

.dashboard__sidebar-header {
    text-align: center;
    margin-bottom: 1rem
}

.dashboard__sidebar-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1
}

.dashboard__sidebar-button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
    cursor: pointer
}

.dashboard__sidebar-button:hover {
    background-color: rgba(255, 255, 255, .1)
}

.dashboard__day {
    width: calc(100% / 7);
    min-width: 100px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: .5rem;
    margin: .5rem;
    box-sizing: border-box;
    background-color: #ffffff;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95%;
}

.dashboard__day-header {
    font-weight: 700;
    margin-bottom: .5rem
}

.dashboard__content {
    display: flex;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% - 4rem);
    margin-top: 1rem;
    margin-left: 200px;

}


.dashboard__day-name {
    font-size: 1.2rem;
    margin-bottom: .5rem
}

.dashboard__day-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background-color: #222;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.dashboard__day-tasks {
    border: 1px solid #ccc;
    border-radius: .5rem;
    padding: 1rem;
    width: 100%;
    height: calc(100% - 4rem);
    overflow-y: auto;
}

.dashboard__bottom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: #fff;
    padding: 0 1rem;
    height: 4rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.dashboard__searchbar {
    display: flex;
    align-items: center;
}

.dashboard__searchbar input[type="text"] {
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    width: 200px;
}

.dashboard__searchbar-button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}

.dashboard__icons {
    display: flex;
}

.dashboard__icon-button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    margin-left: 1rem;
    cursor: pointer;
}

.dashboard__bottom-navbar,
.dashboard__sidebar {
    background-color: #333;
}

.dashboard__sidebar,
.dashboard__bottom-navbar {
    outline: 1px solid #ccc;
}

.dashboard__sidebar-buttons {
    margin-bottom: 4rem;
}

.dashboard__day-button {
    width: 80%;
    font-size: 1rem;
    border-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    cursor: pointer
}